<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/index.css">
    
</head>
<body>
    <div class="container">
        <h1>Treinadores</h1>
        <ul>
            <% treinadores.forEach(treinador => { %>
                <li>
                    <strong><%= treinador.nome %></strong>
                    <ul>
                        <% treinador.pokemons.forEach(pokemon => { %>
                            <li><%= pokemon.nome %> - <%= pokemon.tipo %></li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
        <a href="/pokemons/cadastrar">Cadastrar Pokémon</a>
        <a href="/treinadores/cadastrar">Cadastrar Treinador</a>
    </div>
</body>
</html>
